.main__description {
  width: 66%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main__btn {
  font-weight: 600;
  font-size: 1.4rem;
  background-color: #FFCC2D;
  padding: 6px 11px 7px 10px;
  cursor: pointer;
}
.main__btn::before {
  content: url(../program1/arrow_img/arrow.svg);
  margin-right: 7px;
}

.main__cards {
  padding-top: 8.1rem;
}
.main__cards__menu {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  gap: 3rem;
}
.main__cards__background {
  position: relative;
  cursor: pointer;
}
.main__cards__content {
  position: absolute;
  top: 75.7%;
  width: 23.62%;
  height: 23.1%;
  padding: 1.2rem 0rem 1.4rem 3.9rem;
  background-color: #090808;
  color: #FFFFFF;
  cursor: pointer;
}
.main__cards h2 {
  font-weight: 600;
  font-size: 2.4rem;
  text-align: -webkit-left;
}

@media screen and (max-width: 768px) {
  .container {
    width: 726px;
  }

  .main__cards__menu {
    gap: 1.8rem;
  }
  .main__cards__img {
    width: 32.5rem;
    height: 32.3rem;
  }
}