.main__cards {
  width: 100%;
  padding-top: 8.1rem;
}
.main__cards__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  position: absolute;
  gap: 3rem;
}
.main__cards__background {
  width: 100%;
  background-image: url(../main_img/);
  position: relative;
  cursor: pointer;
}
.main__cards__content {
  position: absolute;
  top: 67.6%;
  background-color: #3EA43B;
  width: 32.1%;
  color: #FFFFFF;
  padding: 1.5rem 4.1rem 2.3rem 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: pointer;
}
.main__cards h2 {
  width: 100%;
  font-weight: 700;
  font-size: 2.4rem;
  text-align: -webkit-right;
}
.main__cards p {
  width: 100%;
  font-weight: 400;
  font-size: 1.8rem;
}

@media screen and (max-width: 1500px) {
  .container {
    width: 100%;
  }

  .main__cards {
    padding-top: 3.2rem;
  }
  .main__cards__img {
    width: 28.1rem;
    height: 15.2rem;
  }
  .main__cards__menu {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 1.9rem;
  }
  .main__cards__container {
    width: 28.1rem;
    height: 15.2rem;
  }
  .main__cards__content {
    top: -35%;
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    padding: 0.3rem 2.2rem 0.6rem 2.1rem;
    bottom: 52px;
  }
  .main__cards__icon {
    width: 2.3rem;
    height: 2.3rem;
  }
  .main__cards h2 {
    font-size: 1.8rem;
  }
  .main__cards p {
    font-size: 1.2rem;
  }
}