.btn {
  color: #FFFFFF;
  font-weight: 800;
  font-size: 1.6rem;
  text-transform: uppercase;
  padding: 1.5rem 7.5rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  background-color: #090808;
  cursor: pointer;
}
.btn:hover {
  background-color: #090808;
}
.btn:active {
  background-color: #FFCC2D;
  -webkit-transform: translateY(1px);
          transform: translateY(1px);
}
.btn--black {
  background-color: #090808;
}
.btn--yellow {
  background-color: #FFCC2D;
}

@media screen and (max-width: 1500px) {
  .btn {
    padding: 1.2rem 5.6rem 1.2rem 5.6rem;
  }
  .btn--black {
    background-color: #090808;
  }
  .btn--yellow {
    background-color: #FFCC2D;
    padding: 1rem 0.9rem;
  }
}
.crumbs-menu span:hover {
  opacity: 0.9;
  color: #dc0000;
  cursor: pointer;
}