@import "variables";
@import "cards2";

.main{
    &__description__product{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__btn{
        background-color: $yellow;
        padding: 6px 11px 7px 10px;
        font-weight: 600;
        font-size: 1.4rem;
        cursor: pointer;
        transition: .3s;
        background-color: $yellow;
        &:hover{
            background-color: $green;
        }
        &::before{
            content: url(../program1/arrow_img/arrow.svg) ;

        }
        &:active {
            background-color: $yellow;
            transform: translateY(4px);
        }
    }
    &__siblist{
        margin: 3rem 0rem 4rem 2rem;
        margin-bottom: 4rem;
    }
    &__list{
        width: 100%;
        font-weight: 500;
        font-size: 1.8rem;
        color: $black;
    }
    &__menu{
        display: flex;
        width: 116%;
    }
    &__img{
        &--main{
            display: none;
        }
        &--table{
            display: flex;
            padding-top: 8rem;
        }
        &__box{
            height: 300rem;
        }
    }
    
}
.main__table{
    width: 100%;
    width: 93%;
    margin-top: 1.2rem;
    margin-left: 3rem;
    &__container{
        margin-top: 8rem;
        display: flex;
    }
    &__aweek{
        font-weight: 600;
        font-size: 2rem;
        color: $whitegrey;

        background-color: $green;
        padding: 3px 13.8rem 4px 13.5rem;
        text-transform: uppercase;
        margin-left: 3rem;
    }
    &__column{
        text-align: center;
        transition: all .3s;
        cursor: pointer;
        &:nth-child(odd){
        background-color: $whitegrey;
        }
        &:hover{
            background-color: $lightgreen;
        }
    }
    th{
        font-weight: 600;
        font-size: 1.6rem;
        text-transform: uppercase;
        margin-top: 1.2rem;
        padding-bottom: 8px;
    }
    }
    tr{
        font-weight: 600;
        font-size: 1.8rem;
        border-right: 1px solid rgba(0, 0, 0, 0.1);
    }
    .footer{
        display: none;
    } 
    @media screen and (max-width: 768px){
        .container{
          width: 726px;
        }
        .header{
            &-search{
                width: 28vw;
                line-height: 2.5rem;
                padding: 0;
                margin-top: 1.5rem;
                &__img{
                    top: -8px
                }
            }
            &__icon{
                &--hover{
                display: none;
            }
        }
    }
        .crumbs{
            padding: 0;
            margin-top: 1.9rem;
        &-menu{
            margin-bottom: 1.9rem;
        }
        &__img{
            margin: 0rem 2rem 0rem 2.9rem;
        }
        &__item{
            color: $blwhgrey;
            &--active {
                color: $green;
            }
        }
    }
        .main{
        &__btn{
            margin: 9px;
        }
        &__menu{
            position: relative;
            display: flex;
            flex-direction: row-reverse;
            flex-wrap: wrap;
            justify-content: flex-end;

            gap: 1.8rem;
            transition: 0,8s;
            &:hover{
                opacity: 0.9s;
            }
        }
        &__img{
            &--main{
                padding-top: 5.1rem;
            }
         &__box{
            display: none;
            }
        &--main{
            display: block;
        }
        &__word{
            width: 94.90%;
            background: black;
            color: $white;
            font-weight: 600;
            font-size: 24px;

            text-align: center;
            padding: 2rem 0rem 2rem 0rem;
            position: absolute;
            top: 58%;
            }
        }
        &__list{
            margin-top: 2rem;
        }
        &__table{
            margin-left: 0;
            width: 100%;
            &__aweek{
                margin-left: 0;
                padding: 3px 121px 4px 121px;
            }
            &__description__product{
                display: -webkit-box;
                display: -ms-flexbox;
                -webkit-box-pack: justify;
                justify-content: space-between;
                align-items: center;
            }
            &__header{
                margin-top: 8rem;
            }
        }
        h1{
            font-size: 3.6rem;
        }
        .footer{
            display: none;
        }
    }
}
@media screen and (max-width: 320px){
    .container{
        width: 280px;
    }
    .header{
        &__menu{
            flex-wrap: wrap;
        }
        &-search{
            border: none;
            width: 0%;
            &__info{
                display: none;
            }
            &__img{
                display: none;
            }
        }
        &__service{
            margin-top: 2.1rem;
        }
        &__icon{
            margin-right: 5.4rem;
        }
    .btn{
        padding: 1.2rem 10.3rem;
    }
    }
    .crumbs{
        &-menu{
            margin-bottom: 1.5rem;
        }
    }
    .main{
        &__header{
            display: none;
        }
        &__btn{
            margin: 0;
        }
        &__img{
            &--table{
                flex-wrap: wrap;
                padding-top: 0rem;
            }
            &__img{
                width: 280px;
                height: 204px;
            }
            &__word{
                position: initial;
                padding: 0;
                background: none;
                font-size: 2.6rem;
                color: $black;
                text-transform: uppercase;
            }
        }
        &--main{
            padding-top: 1.6rem;
        }
        &__siblist{
            margin: 1.4rem 0rem 4rem 2rem;
        }
        &__list{
            margin-top: 5px;
        }
        &__table{
            &__header{
                margin: 0;
            }
            &__aweek{
                padding: 3px 84px 4px 84px;
            }
        }
    }
    .btn{
        &--yellow{
            display: none;
        }
    }
    .footer{
        display: block;
        padding-top: 3.8rem;
        &__btn{
            background-color: $yellow;
            padding: 7px 14px 7px 14px;
            color: $black;
            text-transform: uppercase;
            &:hover{
                background-color: $green;
                opacity: 0.9s;
            }
            &:active {
                background-color: $yellow;
                transform: translateY(4px);
            }
        }
        &__title{
            font-weight: 600;
            font-size: 2.6rem;
            color: $black;
            text-transform: uppercase;
            padding: 3.8rem 0rem 3.8rem 0rem;
        }
        &__box{
            border: 1px solid #A5ADBB;
            padding: 1.9rem 0rem 1rem 0.9rem;
        }
        &__sibtitle{
            font-weight: 700;
            font-size: 1.8rem;
            color: $black;
            margin-left: 6.7rem;
        }
    }
}
