$black: #090808;
$yellow: #FFCC2D;
$white: #FFFFFF;
$green: #068145;
$lightgreen: #3EA43B;
$red: #dc0000;
$grey: #BDBDBD;
$blackgrey: #828282;
$blwhgrey:#BDBDBD;
$whitegrey: #F4F4F2;
$white: #FFFFFF;

// program1
